.example-card{
    width: 400px;
    
    max-height:400px;
    
    background-color:lavenderblush;
    color: brown;
}
.button{
    background-color:plum;
}
.search{
    text-align: left;
    width: 80px;
    margin-left: 75%;
    font-size:smaller;
}
.menu{

    text-align: left;
    font-size: medium;
    margin-left: 260%;
}
.cards{
    background-image: linear-gradient(to bottom right,lavender,lavenderblush);
}